[Unit]
Description=GPS Logger
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/uivast/
User=uivast
Group=uivast
ExecStart=/usr/bin/python /home/uivast/IridiumTransmitter.py >> /home/uivast/iridium-logfile.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
